.document {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 60px 12px 10px;

    &-title {
        font-size: 26px;
        font-weight: 500;
        line-height: 34px;
        color: #333331;
        letter-spacing: 1px;
    }

    &-title-btn {
        width: 300px;
        color: white;
        background-color: #333331;
        padding: 16px;
        letter-spacing: 1px;
        font-size: 18px;
        border: 1px solid #333331;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition: .6s;
    }

    &-title-btn:hover {
        transform: translateY(-6px);
    }

    @media (max-width:700px) {
        &-title-btn {
            width: 100%;
        }
    }

    @media (max-width:470px) {
        grid-template-columns: 1fr;
        padding: 20px 12px 10px;
        gap: 10px;

        &-title {
            font-size: 20px;
            text-align: start;
            padding-bottom: 10px;
        }
    }
}