.header {
  background-color: white;
  padding: 20px 0px;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #a4a4a4;
  display: flex;
  align-items: center;
  justify-content: center;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
    padding: 0 20px;

    &__logo img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 55px;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    @media (max-width: 1560px) {
      &__item {
        gap: 30px;
      }
    }

    &__btn {
      padding: 8px;
      background-color: #333331;
      color: white;
      border: 1px solid #333331;
      font-size: 14px;
      cursor: pointer;
    }

    &__bottom-menu {
      font-size: 20px;
      display: none;
      cursor: pointer;
    }

    &__list {
      position: relative;
      font-size: 15px;
      color: #333331;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 2px;
    }

    &__list svg {
      font-size: 12px;
    }

    &__list:hover .dropdown-item {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition-delay: 0s;
    }

    .dropdown-item {
      position: absolute;
      top: 35px;
      left: 0;
      background-color: #333331;
      color: white;
      min-width: 280px;
      padding: 5px 0;
      overflow: hidden;
      border-radius: 10px;
      outline: none;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: all 0.3s ease;
      transition-delay: 0.1s;
      z-index: 9999;

      &-list {
        padding: 10px 20px;
        pointer-events: auto;
      }
    }

    @media (max-width: 600px) {
      .dropdown-item {
        width: 200px;
      }

      .dropdown-item-list {
        padding: 2px 10px;
      }
    }

    .dropdown-item li:hover {
      background-color: #222;
    }

    .dropdown-item a {
      display: block;
      color: white;
      text-decoration: none;
    }

    &__bottom {
      display: flex;
      align-items: center;
      gap: 14px;
    }

    .lang-dropdown {
      position: relative;
      display: inline-block;

      select {
        appearance: none;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px 40px 10px 40px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        outline: none;
        color: #333;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .lang-icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        color: #666;
        pointer-events: none;
      }
    }

    &__bottom-search,
    &__bottom-menu {
      font-size: 22px;
    }

    &__bottom-menu {
      display: none;
    }
  }

  &-search-result {
    position: fixed;
    top: -200px;
    left: 0px;
    background-color: white;
    width: 100%;
    max-height: 300px;
    z-index: 998;
    transition: top 0.6s ease;
    border-bottom: 1px solid rgba(170, 170, 170, 0.6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  &-search-result-hide {
    top: 110px;
  }

  &-search-info {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px;
    
    &::-webkit-scrollbar {
      width: 6px;
      height: 20px;
    }
    
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &-search-info-loading {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #333;
    padding-top: 20px;
  }

  &-search-result-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 60%;
    flex-shrink: 0;
  }

  &-search-result-form-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid gray;
    padding: 0px 15px;
    border-radius: 10px;
    transition: border-color 0.3s ease;
  }

  &-search-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #959595;

    &:last-child {
      border-bottom: none;
    }

    &-img {
      width: 90px;
      height: 80px;
      font-size: 10px;
      object-fit: contain;
      border: 1px solid #aaa3;
      margin: 5px 0px;
      border-radius: 4px;
      cursor: pointer;
    }

    &-title {
      font-size: 16px;
      font-weight: 400;
      color: #333331;
    }
  }

  &-search-result-form-icon:focus-within {
    border-color: #333331;
  }

  &-search-result-form-icon input {
    padding: 12px 5px;
    flex: 1;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 16px;
  }

  &-search-result-form-icon svg {
    font-size: 20px;
    color: #666;
  }

  &-search-result-form-text {
    font-size: 14px;
    font-weight: 400;
    color: #333331;
    margin: 0;
  }

  &-search-result-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(170, 170, 170, 0.3);
    transition: opacity 0.9s ease;
    z-index: 997;
    cursor: pointer;
  }

  &__nav__close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    display: none;

    svg {
      font-size: 22px;
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #aaa5;
    z-index: 1000;
    cursor: pointer;
  }

  @media (max-width: 1140px) {
    &__nav__item {
      position: fixed;
      top: 0;
      left: -100%;
      width: 80%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-left: 30px;
      justify-content: start;
      padding-top: 110px;
      background-color: #fff;
      box-shadow: 1px 1px 10px #aaa6;
      transition: .6s;
      z-index: 1100;
    }

    &__nav__hide {
      left: 0;
      transition: .6s;
    }

    &__nav__bottom-menu {
      display: block;
    }

    &__nav__btn {
      background-color: transparent;
      border: none;
      font-size: 15px;
      color: #333331;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
      padding: 0;
    }

    &__nav__close {
      display: block;
    }
  }

  @media (max-width: 560px) {
    &__nav__bottom {
      gap: 6px;
    }

    &__nav {
      gap: 10px;
    }
  }

  @media (max-width: 768px) {
    &-search-result-form {
      padding: 15px;
    }

    &__nav__item {
      gap: 20px;
    }

    &__nav__bottom-menu {
      display: block;
    }
  }

  @media (max-width: 400px) {
    &-search-result {
      height: 180px;
    }

    &-search-result-form {
      padding: 10px;
      gap: 8px;
    }

    &-search-result-form-icon input {
      padding: 10px 5px;
    }

    &-search-info-item {
      &-img {
        width: 60px;
        height: 45px;
      }

      &-title {
        font-size: 14px;
      }
    }
  }
}