.loading {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__img {
    min-width: 230px;
    height: 230px;
    border-radius: 8px;
  }

  &__item {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    &-left {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  &__item-left-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    height: 40px;
    min-width: 350px;
    margin-top: 10px;
    border-radius: 6px;

    &:nth-child(2) {
      min-width: 80px;
    }
  }

  &__title-btn {
    width: 240px;
    height: 60px;
    border-radius: 40px;
  }
}

.bg__animation {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}

@keyframes bgMove {
  to {
    background-position: 200%;
  }
}

@media (max-width: 900px) {
  .loading__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 900px) {
  .loading__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 590px) {
  .loading__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 370px) {
  .loading__wrapper {
    grid-template-columns: 1fr;
  }
}