.chinaAuto {
    padding-top: 150px;

    &-top {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;

        &-title {
            font-size: 52px;
            font-weight: 600;
            color: #333331;
            line-height: 58px;
            width: 60%;
        }

        &-filter {
            display: flex;
            flex-direction: column;
            gap: 15px;

            span {
                font-size: 20px;
                font-weight: 400;
                color: #333331;
            }

            &-boxs {
                display: flex;
                align-items: center;
                gap: 10px;

                button {
                    padding: 13px 30px;
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 40px;
                    border: 1px solid #aaa8;
                    background-color: white;
                }

                button:hover {
                    background-color: #333331;
                    color: white;
                    transition: .5s;
                }
            }
        }

        &-model {
            display: flex;
            flex-direction: column;
            gap: 15px;

            span {
                font-size: 20px;
                font-weight: 400;
                color: #333331;
            }

            &-boxs {
                display: flex;
                align-items: center;
                gap: 10px;

                button {
                    padding: 13px 30px;
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 40px;
                    border: 1px solid #aaa8;
                    background-color: white;
                }

                button:hover {
                    background-color: #333331;
                    color: white;
                    transition: .5s;
                }
            }
        }
    }

    &-bottom {
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-boxs {
            display: grid;
            grid-template-columns: 400px 1fr 200px;
            align-items: center;
            border-bottom: 1px solid #aaa8;
            padding-bottom: 40px;

            &:last-child {
                border-bottom: none;
            }

            &-text {
                font-size: 24px;
                color: #333331;
                font-weight: 500;
            }

            &-middle {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 200px;
                    height: 200px;
                    object-fit: contain;
                }

                &-info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;

                    &-title {
                        font-size: 26px;
                        font-weight: 500;
                        color: #333331;
                        line-height: 30px;
                    }

                    &-text {
                        font-size: 20px;
                        font-weight: 400;
                        color: gray;
                        line-height: 28px;
                        width: 70%;
                    }
                }
            }

            &-btn {
                font-size: 18px;
                padding: 16px 20px;
                border-radius: 40px;
                border: 1px solid #aaa8;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }

            &-btn:hover {
                background-color: #333331;
                color: white;
                transition: .6s;
            }
        }
    }

    @media (max-width:1030px) {
        &-top {
            padding-bottom: 0px;
        }

        &-bottom-boxs-middle-info-title {
            font-size: 20px
        }

        &-bottom-boxs-middle-info-text {
            font-size: 16px;
            line-height: 20px;
        }

        &-top-title {
            font-size: 40px;
            line-height: 48px;
            width: 100%;
        }
    }

    @media (max-width:960px) {
        &-bottom-boxs {
            grid-template-columns: 1fr;
            align-items: start;
            gap: 20px;
            border: 1px solid #aaa4;
            border-radius: 10px;
            padding: 20px 10px;
        }

        &-bottom {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }

        &-bottom-boxs-middle {
            flex-direction: column;
        }

        &-bottom-boxs-text {
           font-size: 16px;
           line-height: 20px;
           font-weight: 400;
           text-align: center;
           color: #333331;
        }

        &-bottom-boxs-middle-info {
          align-items: center;
        }

        &-bottom-boxs-middle-info-title {
           font-size: 18px;
           text-align: center;
        }

        &-bottom-boxs-middle-info-text {
           display: none;
        }

        &-bottom-boxs-btn {
          padding: 10px;
          width: 100%;
        }
    }

    @media (max-width:720px) {
        &-bottom {
            grid-template-columns: repeat(2,1fr);
        }
    }

    @media (max-width:570px) {
        &-top-title {
            font-size: 22px;
            line-height: 30px;
        }
    }

    @media (max-width:480px) {
        &-bottom {
         grid-template-columns: 1fr;
        }
    }

    @media (max-width:350px) {
        padding-top: 130px;

        &-top-title {
            font-size: 18px;
            line-height: 26px;
            text-align: center;
        }
    }
}