.banner {
    background: url(../../assets/images/masla.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0px;

    &__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: 20px;
        padding: 10px 0px 60px;

        &-title {
            font-size: 52px;
            font-weight: 700;
            line-height: 60px;
            color: white;
        }

        &-text {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            color: white;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    @media (max-width:1500px) {
        &__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
    }

    &__card {
        position: relative;
        height: 280px;
        border: 1px solid gray;
        border-radius: 6px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        cursor: pointer;

        &-title {
            font-size: 30px;
            font-weight: 400;
            line-height: 32px;
            color: white;
        }

        &-desc {
            position: absolute;
            bottom: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-end;
            color: white;
            opacity: 0;

            svg {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-text {
            font-size: 16px;
            color: rgb(190, 188, 188);
        }
    }

    &__card:hover {
        background-color: rgb(57, 56, 56);
        transition: .5s;
    }

    &__card:hover .banner__card-text {
        opacity: 0;
        transition: .5s;
    }

    &__card:hover .banner__card-desc {
        opacity: 1;
        transition: .5s;
    }

    @media (max-width:1000px) {
        &__top-title {
            font-size: 32px;
            font-weight: 400;
            line-height: 38px;
        }

        &__top-text {
            font-size: 16px;
            line-height: 22px;
            font-weight: 300;
        }

        &__card-title {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }

        &__card-text {
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
        }

        &__cards {
            gap: 10px;
        }
    }

    @media (max-width:760px) {
        &__cards {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
    }

    @media (max-width:560px) {
        padding: 10px 0px;

        &__card {
          height: 260px;
        }

        &__top {
            grid-template-columns: 1fr;
            padding: 20px 0px;
        }

        &__cards {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }
    }
}